@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Getting Cats Information</h2>
    <p><h3>Problem Statement</h3></p>
    <p>1. Consume the JSON web service</p>
    <p>
        2. Expected Output : A list of all the Cats in an alphabetic order
        under the gender
        under the Owner
    </p>
    <p>
        3. Click on 'CatsInfo' to get see the Output
    </p>
</div>
